#tmsm-aquatonic-course-slots-container{
    text-align: center;
}

#tmsm-aquatonic-course-booking-weekdays-list{
    border-bottom: 0;
    width: 100%;
    text-align: center;
    margin: 10px auto;

    .dropdown-menu{
        z-index: 1060;
        > li {
            > a {
                margin: 0 0 5px 0;
            }
        }
    }

    &:before, &:after{
        content: " ";
        display: table;
    }
    &:after{
        clear: both;
    }
    > .tmsm-aquatonic-course-booking-weekday-item {
        float: none;
        margin-bottom: -1px;
        position: relative;
        font-weight: bold;
        padding-bottom: 20px;

        @media (min-width: 768px){
            display: table-cell;
            width: 1%;
        }

        @media (min-width: 768px) and (max-width: 992px){
            font-size: 80%;
        }

        .secondline {

            @media (min-width: 768px){
                display: block;
            }
        }

        .tmsm-aquatonic-course-booking-weekday-times {
            padding-top: 10px;
            font-weight: normal;

            .tmsm-aquatonic-course-booking-time-button{
                min-width: 50px;
                @media (min-width: 992px){
                    min-width: 100px;
                }
            }
        }
    }

    .tmsm-aquatonic-course-booking-time-change-label{
        display: none;
    }

    .tmsm-aquatonic-course-booking-time-item {
        display: inline-block;

        @media (min-width: 768px){
            display: block;
        }
    }

    #tmsm-aquos-spa-booking-weekdays-previous, #tmsm-aquos-spa-booking-weekdays-next{
        margin-bottom: 10px;
    }
    #tmsm-aquos-spa-booking-weekdays-previous{
        margin-right: 10px;
    }

    #tmsm-aquatonic-course-booking-next-times{
        display: none;
    }

    .dropdown-toggle{
        width:  auto !important;
    }

}

.tmsm-aquatonic-course-form-add{
    .form-fields{
        overflow: visible;
    }
    .form-actions{
        text-align: center;
        display: block;
    }
    .form-actions-previous{
        display: none;
    }

    .glyphicon-refresh{
        display: block;
        margin-top: 18px;
        margin-bottom: 12px;
        font-size: 24px;
        margin-left: 34px;
        margin-right: 34px;
    }
}

.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
.tmsm-aquatonic-course-form-cancel{
    .form-actions{
        display: inline-block;
    }

}

// No Distraction
.tmsm-aquatonic-course-booking-pages{
    .footer-above-wrapper, .elementor-location-footer, .footer-wrapper, .footer-below-wrapper{
        display: none;
    }
}

.tmsm-aquatonic-course-form-add_wrapper, .tmsm-aquatonic-course-form-cancel_wrapper{
    margin-bottom: 60px;
}


.tmsm-aquatonic-course-form-cancel{
    .form-header, .form-body, .gform_footer {
        @media (min-width: 768px){
            width: 48%;
        }
    }
    .form-header{
        @media (min-width: 768px){
            float: left;
            padding-right: 2%;
        }
    }
    .form-body, .gform_footer {
        @media (min-width: 768px){
            float: right;
            padding-left: 2%;
        }
    }

    #booking_barcode_block{
        max-width: 100% !important;
    }
}

.tmsm-aquatonic-course-summary{
    font-size: 125%;
    text-align: center;
}