#tmsm-aquatonic-course-slots-container {
  text-align: center;
}
#tmsm-aquatonic-course-booking-weekdays-list {
  border-bottom: 0;
  width: 100%;
  text-align: center;
  margin: 10px auto;
}
#tmsm-aquatonic-course-booking-weekdays-list .dropdown-menu {
  z-index: 1060;
}
#tmsm-aquatonic-course-booking-weekdays-list .dropdown-menu > li > a {
  margin: 0 0 5px 0;
}
#tmsm-aquatonic-course-booking-weekdays-list:before,
#tmsm-aquatonic-course-booking-weekdays-list:after {
  content: " ";
  display: table;
}
#tmsm-aquatonic-course-booking-weekdays-list:after {
  clear: both;
}
#tmsm-aquatonic-course-booking-weekdays-list > .tmsm-aquatonic-course-booking-weekday-item {
  float: none;
  margin-bottom: -1px;
  position: relative;
  font-weight: bold;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  #tmsm-aquatonic-course-booking-weekdays-list > .tmsm-aquatonic-course-booking-weekday-item {
    display: table-cell;
    width: 1%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #tmsm-aquatonic-course-booking-weekdays-list > .tmsm-aquatonic-course-booking-weekday-item {
    font-size: 80%;
  }
}
@media (min-width: 768px) {
  #tmsm-aquatonic-course-booking-weekdays-list > .tmsm-aquatonic-course-booking-weekday-item .secondline {
    display: block;
  }
}
#tmsm-aquatonic-course-booking-weekdays-list > .tmsm-aquatonic-course-booking-weekday-item .tmsm-aquatonic-course-booking-weekday-times {
  padding-top: 10px;
  font-weight: normal;
}
#tmsm-aquatonic-course-booking-weekdays-list > .tmsm-aquatonic-course-booking-weekday-item .tmsm-aquatonic-course-booking-weekday-times .tmsm-aquatonic-course-booking-time-button {
  min-width: 50px;
}
@media (min-width: 992px) {
  #tmsm-aquatonic-course-booking-weekdays-list > .tmsm-aquatonic-course-booking-weekday-item .tmsm-aquatonic-course-booking-weekday-times .tmsm-aquatonic-course-booking-time-button {
    min-width: 100px;
  }
}
#tmsm-aquatonic-course-booking-weekdays-list .tmsm-aquatonic-course-booking-time-change-label {
  display: none;
}
#tmsm-aquatonic-course-booking-weekdays-list .tmsm-aquatonic-course-booking-time-item {
  display: inline-block;
}
@media (min-width: 768px) {
  #tmsm-aquatonic-course-booking-weekdays-list .tmsm-aquatonic-course-booking-time-item {
    display: block;
  }
}
#tmsm-aquatonic-course-booking-weekdays-list #tmsm-aquos-spa-booking-weekdays-previous,
#tmsm-aquatonic-course-booking-weekdays-list #tmsm-aquos-spa-booking-weekdays-next {
  margin-bottom: 10px;
}
#tmsm-aquatonic-course-booking-weekdays-list #tmsm-aquos-spa-booking-weekdays-previous {
  margin-right: 10px;
}
#tmsm-aquatonic-course-booking-weekdays-list #tmsm-aquatonic-course-booking-next-times {
  display: none;
}
#tmsm-aquatonic-course-booking-weekdays-list .dropdown-toggle {
  width: auto !important;
}
.tmsm-aquatonic-course-form-add .form-fields {
  overflow: visible;
}
.tmsm-aquatonic-course-form-add .form-actions,
.tmsm-aquatonic-course-form-cancel .form-actions {
  display: inline-block;
  margin-bottom: 10px;
}
.tmsm-aquatonic-course-booking-pages .footer-above-wrapper,
.tmsm-aquatonic-course-booking-pages .elementor-location-footer,
.tmsm-aquatonic-course-booking-pages .footer-wrapper,
.tmsm-aquatonic-course-booking-pages .footer-below-wrapper {
  display: none;
}
.tmsm-aquatonic-course-form-add_wrapper,
.tmsm-aquatonic-course-form-cancel_wrapper {
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .tmsm-aquatonic-course-form-cancel .form-header,
  .tmsm-aquatonic-course-form-cancel .form-body,
  .tmsm-aquatonic-course-form-cancel .gform_footer {
    width: 48%;
  }
}
@media (min-width: 768px) {
  .tmsm-aquatonic-course-form-cancel .form-header {
    float: left;
    padding-right: 2%;
  }
}
@media (min-width: 768px) {
  .tmsm-aquatonic-course-form-cancel .form-body,
  .tmsm-aquatonic-course-form-cancel .gform_footer {
    float: right;
    padding-left: 2%;
  }
}
.tmsm-aquatonic-course-form-cancel #booking_barcode_block {
  max-width: 100% !important;
}
/*# sourceMappingURL=tmsm-aquatonic-course-booking-public.css.map */