.tmsm-aquatonic-course-booking-wrap {
  /*.allotment-1{
        color: @allotment;
    }*/
  /*.allotment-different{
        color: @allotment-different;
        &.allotment-different-2{
            color: darken(hsl(hue(@allotment-different), saturation(@allotment-different), lightness(@allotment-different)), 5%);
        }
        &.allotment-different-3{
            color: darken(hsl(hue(@allotment-different), saturation(@allotment-different), lightness(@allotment-different)), 10%);
        }
        &.allotment-different-4{
            color: darken(hsl(hue(@allotment-different), saturation(@allotment-different), lightness(@allotment-different)), 15%);
        }
        &.allotment-different-5{
            color: darken(hsl(hue(@allotment-different), saturation(@allotment-different), lightness(@allotment-different)), 20%);
        }
        &.allotment-different-6{
            color: darken(hsl(hue(@allotment-different), saturation(@allotment-different), lightness(@allotment-different)), 25%);
        }
    }*/
}
.tmsm-aquatonic-course-booking-wrap .table-dashboard td {
  font-size: 14px;
}
.tmsm-aquatonic-course-booking-wrap span {
  padding: 2px;
}
.tmsm-aquatonic-course-booking-wrap .capacity-1,
.tmsm-aquatonic-course-booking-wrap .realtime,
.tmsm-aquatonic-course-booking-wrap .booking-starting,
.tmsm-aquatonic-course-booking-wrap .booking-ending,
.tmsm-aquatonic-course-booking-wrap .free,
.tmsm-aquatonic-course-booking-wrap .lessons-subscribed {
  font-weight: bold;
}
.tmsm-aquatonic-course-booking-wrap .highlight {
  background: #f2f2f2;
  border: 1px solid #333;
  cursor: none;
  padding: 1px;
}
.tmsm-aquatonic-course-booking-wrap .capacity-1 {
  color: #5769d9;
}
.tmsm-aquatonic-course-booking-wrap .realtime {
  color: orange;
}
.tmsm-aquatonic-course-booking-wrap .free {
  color: mediumpurple;
}
.tmsm-aquatonic-course-booking-wrap .free.free-2 {
  color: mediumaquamarine;
}
.tmsm-aquatonic-course-booking-wrap .free.free-3 {
  color: #de746d;
}
.tmsm-aquatonic-course-booking-wrap .free.free-4 {
  color: #dd9f32;
}
.tmsm-aquatonic-course-booking-wrap .free.free-5 {
  color: mediumturquoise;
}
.tmsm-aquatonic-course-booking-wrap .free.free-6 {
  color: purple;
}
.tmsm-aquatonic-course-booking-wrap .booking-starting {
  color: deepskyblue;
}
.tmsm-aquatonic-course-booking-wrap .booking-starting.booking-starting-2 {
  color: hsl(195.05882353, 100%, 45%);
}
.tmsm-aquatonic-course-booking-wrap .booking-starting.booking-starting-3 {
  color: hsl(195.05882353, 100%, 40%);
}
.tmsm-aquatonic-course-booking-wrap .booking-starting.booking-starting-4 {
  color: hsl(195.05882353, 100%, 35%);
}
.tmsm-aquatonic-course-booking-wrap .booking-starting.booking-starting-5 {
  color: hsl(195.05882353, 100%, 30%);
}
.tmsm-aquatonic-course-booking-wrap .booking-starting.booking-starting-6 {
  color: hsl(195.05882353, 100%, 25%);
}
.tmsm-aquatonic-course-booking-wrap .capacity-different {
  color: #f395ff;
}
.tmsm-aquatonic-course-booking-wrap .capacity-different.capacity-different-2 {
  color: hsl(293.20754717, 100%, 74.21568627%);
}
.tmsm-aquatonic-course-booking-wrap .capacity-different.capacity-different-3 {
  color: hsl(293.20754717, 100%, 69.21568627%);
}
.tmsm-aquatonic-course-booking-wrap .capacity-different.capacity-different-4 {
  color: hsl(293.20754717, 100%, 64.21568627%);
}
.tmsm-aquatonic-course-booking-wrap .capacity-different.capacity-different-5 {
  color: hsl(293.20754717, 100%, 59.21568627%);
}
.tmsm-aquatonic-course-booking-wrap .capacity-different.capacity-different-6 {
  color: hsl(293.20754717, 100%, 54.21568627%);
}
.tmsm-aquatonic-course-booking-wrap .booking-ending {
  color: deeppink;
}
.tmsm-aquatonic-course-booking-wrap .booking-ending.booking-ending-2 {
  color: hsl(327.57446809, 100%, 48.92156863%);
}
.tmsm-aquatonic-course-booking-wrap .booking-ending.booking-ending-3 {
  color: hsl(327.57446809, 100%, 43.92156863%);
}
.tmsm-aquatonic-course-booking-wrap .booking-ending.booking-ending-4 {
  color: hsl(327.57446809, 100%, 38.92156863%);
}
.tmsm-aquatonic-course-booking-wrap .booking-ending.booking-ending-5 {
  color: hsl(327.57446809, 100%, 33.92156863%);
}
.tmsm-aquatonic-course-booking-wrap .booking-ending.booking-ending-6 {
  color: hsl(327.57446809, 100%, 28.92156863%);
}
.tmsm-aquatonic-course-booking-wrap .booking-ongoing {
  color: brown;
}
.tmsm-aquatonic-course-booking-wrap .booking-ongoing.booking-ongoing-2 {
  color: hsl(0, 59.42028986%, 35.58823529%);
}
.tmsm-aquatonic-course-booking-wrap .booking-ongoing.booking-ongoing-3 {
  color: hsl(0, 59.42028986%, 30.58823529%);
}
.tmsm-aquatonic-course-booking-wrap .booking-ongoing.booking-ongoing-4 {
  color: hsl(0, 59.42028986%, 25.58823529%);
}
.tmsm-aquatonic-course-booking-wrap .booking-ongoing.booking-ongoing-5 {
  color: hsl(0, 59.42028986%, 20.58823529%);
}
.tmsm-aquatonic-course-booking-wrap .booking-ongoing.booking-ongoing-6 {
  color: hsl(0, 59.42028986%, 15.58823529%);
}
.tmsm-aquatonic-course-booking-wrap .lessons-subscribed {
  color: #99ec53;
}
.tmsm-aquatonic-course-booking-wrap .lessons-subscribed.lessons-subscribed-2 {
  color: hsl(92.54901961, 80.10471204%, 57.54901961%);
}
.tmsm-aquatonic-course-booking-wrap .lessons-subscribed.lessons-subscribed-3 {
  color: hsl(92.54901961, 80.10471204%, 52.54901961%);
}
.tmsm-aquatonic-course-booking-wrap .lessons-subscribed.lessons-subscribed-4 {
  color: hsl(92.54901961, 80.10471204%, 47.54901961%);
}
.tmsm-aquatonic-course-booking-wrap .lessons-subscribed.lessons-subscribed-5 {
  color: hsl(92.54901961, 80.10471204%, 42.54901961%);
}
.tmsm-aquatonic-course-booking-wrap .lessons-subscribed.lessons-subscribed-6 {
  color: hsl(92.54901961, 80.10471204%, 37.54901961%);
}
.tmsm-aquatonic-course-booking-wrap .widefat .column-wc_actions a.processing::after {
  content: "\e015";
  line-height: 2.2em;
}
.tmsm-aquatonic-course-booking-wrap .booking-row:hover {
  background-color: #F2F2F2;
}
.tmsm-aquatonic-course-booking-wrap .tooltip-row {
  position: relative;
}
.tmsm-aquatonic-course-booking-wrap .tooltip-trigger:hover + .tooltip-content {
  display: block;
}
.tmsm-aquatonic-course-booking-wrap .tooltip-content {
  z-index: 100;
  position: absolute;
  left: 31px;
  top: 5px;
  width: 130px;
  background-color: #F2F2F2;
  border: 3px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  display: none;
}
.tmsm-aquatonic-course-booking-wrap .tooltip-content.tooltip-active {
  display: block;
}
.tmsm-aquatonic-course-booking-wrap #refresh-attendance-link {
  vertical-align: middle;
}
.toplevel_page_tmsm-aquatonic-course-booking-mini {
  padding-top: 0 !important;
}
.toplevel_page_tmsm-aquatonic-course-booking-mini #adminmenumain,
.toplevel_page_tmsm-aquatonic-course-booking-mini .nav-tab-wrapper,
.toplevel_page_tmsm-aquatonic-course-booking-mini h1,
.toplevel_page_tmsm-aquatonic-course-booking-mini #wpadminbar {
  display: none !important;
}
.toplevel_page_tmsm-aquatonic-course-booking-mini #wpcontent {
  margin: 0;
}
.toplevel_page_tmsm-aquatonic-course-booking-mini #wpbody-content {
  padding-bottom: 0 !important;
}
/*# sourceMappingURL=tmsm-aquatonic-course-booking-admin.css.map */