@booking-starting: deepskyblue;
@booking-ending: deeppink;
@booking-ongoing: brown;
@realtime: orange;
@capacity-different: #f395ff;
@capacity: #5769d9;
@allotment-different: #e8c4c4;
@allotment: #a5a800;
@lessons-subscribed: #99ec53;
@lessons-arrived: #32dbb1;


.tmsm-aquatonic-course-booking-wrap{

    .table-dashboard{
        td{
            font-size: 14px;
        }
    }

    span{
        padding: 2px;

    }
    .capacity-1, .realtime, .booking-starting, .booking-ending, .free, .lessons-subscribed{
        font-weight: bold;
    }

    .highlight{
        background: #f2f2f2;
        border: 1px solid #333;
        cursor: none;
        padding: 1px;
    }

    .capacity-1{
        color: @capacity;
    }

    /*.allotment-1{
        color: @allotment;
    }*/

    .realtime{
        color: @realtime;
    }

    .free{
        color: mediumpurple;
        &.free-2{
            color: mediumaquamarine;
        }
        &.free-3{
            color: #de746d;
        }
        &.free-4{
            color: #dd9f32;
        }
        &.free-5{
            color: mediumturquoise;
        }
        &.free-6{
            color: purple;
        }

    }

    .booking-starting{
        color: @booking-starting;
        &.booking-starting-2{
            color: darken(hsl(hue(@booking-starting), saturation(@booking-starting), lightness(@booking-starting)), 5%);
        }
        &.booking-starting-3{
            color: darken(hsl(hue(@booking-starting), saturation(@booking-starting), lightness(@booking-starting)), 10%);
        }
        &.booking-starting-4{
            color: darken(hsl(hue(@booking-starting), saturation(@booking-starting), lightness(@booking-starting)), 15%);
        }
        &.booking-starting-5{
            color: darken(hsl(hue(@booking-starting), saturation(@booking-starting), lightness(@booking-starting)), 20%);
        }
        &.booking-starting-6{
            color: darken(hsl(hue(@booking-starting), saturation(@booking-starting), lightness(@booking-starting)), 25%);
        }
    }
    /*.allotment-different{
        color: @allotment-different;
        &.allotment-different-2{
            color: darken(hsl(hue(@allotment-different), saturation(@allotment-different), lightness(@allotment-different)), 5%);
        }
        &.allotment-different-3{
            color: darken(hsl(hue(@allotment-different), saturation(@allotment-different), lightness(@allotment-different)), 10%);
        }
        &.allotment-different-4{
            color: darken(hsl(hue(@allotment-different), saturation(@allotment-different), lightness(@allotment-different)), 15%);
        }
        &.allotment-different-5{
            color: darken(hsl(hue(@allotment-different), saturation(@allotment-different), lightness(@allotment-different)), 20%);
        }
        &.allotment-different-6{
            color: darken(hsl(hue(@allotment-different), saturation(@allotment-different), lightness(@allotment-different)), 25%);
        }
    }*/

    .capacity-different{
        color: @capacity-different;
        &.capacity-different-2{
            color: darken(hsl(hue(@capacity-different), saturation(@capacity-different), lightness(@capacity-different)), 5%);
        }
        &.capacity-different-3{
            color: darken(hsl(hue(@capacity-different), saturation(@capacity-different), lightness(@capacity-different)), 10%);
        }
        &.capacity-different-4{
            color: darken(hsl(hue(@capacity-different), saturation(@capacity-different), lightness(@capacity-different)), 15%);
        }
        &.capacity-different-5{
            color: darken(hsl(hue(@capacity-different), saturation(@capacity-different), lightness(@capacity-different)), 20%);
        }
        &.capacity-different-6{
            color: darken(hsl(hue(@capacity-different), saturation(@capacity-different), lightness(@capacity-different)), 25%);
        }
    }
    .booking-ending{
        color: @booking-ending;
        &.booking-ending-2{
            color: darken(hsl(hue(@booking-ending), saturation(@booking-ending), lightness(@booking-ending)), 5%);
        }
        &.booking-ending-3{
            color: darken(hsl(hue(@booking-ending), saturation(@booking-ending), lightness(@booking-ending)), 10%);
        }
        &.booking-ending-4{
            color: darken(hsl(hue(@booking-ending), saturation(@booking-ending), lightness(@booking-ending)), 15%);
        }
        &.booking-ending-5{
            color: darken(hsl(hue(@booking-ending), saturation(@booking-ending), lightness(@booking-ending)), 20%);
        }
        &.booking-ending-6{
            color: darken(hsl(hue(@booking-ending), saturation(@booking-ending), lightness(@booking-ending)), 25%);
        }

    }
    .booking-ongoing{
        color: @booking-ongoing;
        &.booking-ongoing-2{
            color: darken(hsl(hue(@booking-ongoing), saturation(@booking-ongoing), lightness(@booking-ongoing)), 5%);
        }
        &.booking-ongoing-3{
            color: darken(hsl(hue(@booking-ongoing), saturation(@booking-ongoing), lightness(@booking-ongoing)), 10%);
        }
        &.booking-ongoing-4{
            color: darken(hsl(hue(@booking-ongoing), saturation(@booking-ongoing), lightness(@booking-ongoing)), 15%);
        }
        &.booking-ongoing-5{
            color: darken(hsl(hue(@booking-ongoing), saturation(@booking-ongoing), lightness(@booking-ongoing)), 20%);
        }
        &.booking-ongoing-6{
            color: darken(hsl(hue(@booking-ongoing), saturation(@booking-ongoing), lightness(@booking-ongoing)), 25%);
        }
    }
    .lessons-subscribed{
        color: @lessons-subscribed;
        &.lessons-subscribed-2{
            color: darken(hsl(hue(@lessons-subscribed), saturation(@lessons-subscribed), lightness(@lessons-subscribed)), 5%);
        }
        &.lessons-subscribed-3{
            color: darken(hsl(hue(@lessons-subscribed), saturation(@lessons-subscribed), lightness(@lessons-subscribed)), 10%);
        }
        &.lessons-subscribed-4{
            color: darken(hsl(hue(@lessons-subscribed), saturation(@lessons-subscribed), lightness(@lessons-subscribed)), 15%);
        }
        &.lessons-subscribed-5{
            color: darken(hsl(hue(@lessons-subscribed), saturation(@lessons-subscribed), lightness(@lessons-subscribed)), 20%);
        }
        &.lessons-subscribed-6{
            color: darken(hsl(hue(@lessons-subscribed), saturation(@lessons-subscribed), lightness(@lessons-subscribed)), 25%);
        }
    }

    .widefat .column-wc_actions a.processing::after{
        content: "\e015";
        line-height: 2.2em;
    }

    .booking-row{
        &:hover{
            background-color: #F2F2F2;
        }
    }

    .tooltip-row{
        position: relative;
    }

    .tooltip-trigger{
        &:hover + .tooltip-content
        {
            display: block;
        }
    }
    .tooltip-content{
        z-index: 100;
        position: absolute;
        left: 31px;
        top: 5px;
        width: 130px;
        background-color: #F2F2F2;
        border: 3px solid #ccc;
        border-radius: 3px;
        padding: 5px;
        display: none;
        &.tooltip-active{
            display: block;
        }
    }

    #refresh-attendance-link{
        vertical-align: middle;
    }
}

// Mini dashboard
.toplevel_page_tmsm-aquatonic-course-booking-mini{
    padding-top: 0 !important;
    #adminmenumain,
    .nav-tab-wrapper,
    h1,
    #wpadminbar{
        display: none !important;
    }

    #wpcontent{
        margin: 0;
    }
    #wpbody-content{
        padding-bottom: 0 !important;
    }
}