.settings_page_tmsm-aquatonic-course-booking-settings .table-dashboard td {
  font-size: 14px;
}
.settings_page_tmsm-aquatonic-course-booking-settings span {
  padding: 2px;
}
.settings_page_tmsm-aquatonic-course-booking-settings .capacity-1,
.settings_page_tmsm-aquatonic-course-booking-settings .realtime,
.settings_page_tmsm-aquatonic-course-booking-settings .booking-starting,
.settings_page_tmsm-aquatonic-course-booking-settings .booking-ending,
.settings_page_tmsm-aquatonic-course-booking-settings .capacity-different,
.settings_page_tmsm-aquatonic-course-booking-settings .free {
  font-weight: bold;
}
.settings_page_tmsm-aquatonic-course-booking-settings .highlight {
  background: #f2f2f2;
  border: 1px solid #333;
  cursor: none;
  padding: 1px;
}
.settings_page_tmsm-aquatonic-course-booking-settings .capacity-1 {
  color: #a5a800;
}
.settings_page_tmsm-aquatonic-course-booking-settings .realtime {
  color: orange;
}
.settings_page_tmsm-aquatonic-course-booking-settings .free {
  color: mediumpurple;
}
.settings_page_tmsm-aquatonic-course-booking-settings .free.free-2 {
  color: mediumaquamarine;
}
.settings_page_tmsm-aquatonic-course-booking-settings .free.free-3 {
  color: #de746d;
}
.settings_page_tmsm-aquatonic-course-booking-settings .free.free-4 {
  color: #dd9f32;
}
.settings_page_tmsm-aquatonic-course-booking-settings .free.free-5 {
  color: mediumturquoise;
}
.settings_page_tmsm-aquatonic-course-booking-settings .free.free-6 {
  color: purple;
}
.settings_page_tmsm-aquatonic-course-booking-settings .booking-starting {
  color: deepskyblue;
}
.settings_page_tmsm-aquatonic-course-booking-settings .booking-starting.booking-starting-2 {
  color: hsl(195.05882353, 100%, 45%);
}
.settings_page_tmsm-aquatonic-course-booking-settings .booking-starting.booking-starting-3 {
  color: hsl(195.05882353, 100%, 40%);
}
.settings_page_tmsm-aquatonic-course-booking-settings .booking-starting.booking-starting-4 {
  color: hsl(195.05882353, 100%, 35%);
}
.settings_page_tmsm-aquatonic-course-booking-settings .booking-starting.booking-starting-5 {
  color: hsl(195.05882353, 100%, 30%);
}
.settings_page_tmsm-aquatonic-course-booking-settings .booking-starting.booking-starting-6 {
  color: hsl(195.05882353, 100%, 25%);
}
.settings_page_tmsm-aquatonic-course-booking-settings .capacity-different {
  color: #e8c4c4;
}
.settings_page_tmsm-aquatonic-course-booking-settings .capacity-different.capacity-different-2 {
  color: hsl(0, 43.90243902%, 78.92156863%);
}
.settings_page_tmsm-aquatonic-course-booking-settings .capacity-different.capacity-different-3 {
  color: hsl(0, 43.90243902%, 73.92156863%);
}
.settings_page_tmsm-aquatonic-course-booking-settings .capacity-different.capacity-different-4 {
  color: hsl(0, 43.90243902%, 68.92156863%);
}
.settings_page_tmsm-aquatonic-course-booking-settings .capacity-different.capacity-different-5 {
  color: hsl(0, 43.90243902%, 63.92156863%);
}
.settings_page_tmsm-aquatonic-course-booking-settings .capacity-different.capacity-different-6 {
  color: hsl(0, 43.90243902%, 58.92156863%);
}
.settings_page_tmsm-aquatonic-course-booking-settings .booking-ending {
  color: deeppink;
}
.settings_page_tmsm-aquatonic-course-booking-settings .booking-ending.booking-ending-2 {
  color: hsl(327.57446809, 100%, 48.92156863%);
}
.settings_page_tmsm-aquatonic-course-booking-settings .booking-ending.booking-ending-3 {
  color: hsl(327.57446809, 100%, 43.92156863%);
}
.settings_page_tmsm-aquatonic-course-booking-settings .booking-ending.booking-ending-4 {
  color: hsl(327.57446809, 100%, 38.92156863%);
}
.settings_page_tmsm-aquatonic-course-booking-settings .booking-ending.booking-ending-5 {
  color: hsl(327.57446809, 100%, 33.92156863%);
}
.settings_page_tmsm-aquatonic-course-booking-settings .booking-ending.booking-ending-6 {
  color: hsl(327.57446809, 100%, 28.92156863%);
}
.settings_page_tmsm-aquatonic-course-booking-settings .booking-ongoing {
  color: brown;
}
.settings_page_tmsm-aquatonic-course-booking-settings .booking-ongoing.booking-ongoing-2 {
  color: hsl(0, 59.42028986%, 35.58823529%);
}
.settings_page_tmsm-aquatonic-course-booking-settings .booking-ongoing.booking-ongoing-3 {
  color: hsl(0, 59.42028986%, 30.58823529%);
}
.settings_page_tmsm-aquatonic-course-booking-settings .booking-ongoing.booking-ongoing-4 {
  color: hsl(0, 59.42028986%, 25.58823529%);
}
.settings_page_tmsm-aquatonic-course-booking-settings .booking-ongoing.booking-ongoing-5 {
  color: hsl(0, 59.42028986%, 20.58823529%);
}
.settings_page_tmsm-aquatonic-course-booking-settings .booking-ongoing.booking-ongoing-6 {
  color: hsl(0, 59.42028986%, 15.58823529%);
}
.settings_page_tmsm-aquatonic-course-booking-settings .widefat .column-wc_actions a.processing::after {
  content: "\e015";
  line-height: 2.2em;
}
.settings_page_tmsm-aquatonic-course-booking-settings .booking-row:hover {
  background-color: #F2F2F2;
}
.settings_page_tmsm-aquatonic-course-booking-settings .tooltip-row {
  position: relative;
}
.settings_page_tmsm-aquatonic-course-booking-settings .tooltip-trigger:hover + .tooltip-content {
  display: block;
}
.settings_page_tmsm-aquatonic-course-booking-settings .tooltip-content {
  z-index: 100;
  position: absolute;
  left: 31px;
  top: 5px;
  width: 130px;
  background-color: #F2F2F2;
  border: 3px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  display: none;
}
.settings_page_tmsm-aquatonic-course-booking-settings .tooltip-content.tooltip-active {
  display: block;
}
.settings_page_tmsm-aquatonic-course-booking-settings #refresh-attendance-link {
  vertical-align: middle;
}
/*# sourceMappingURL=tmsm-aquatonic-course-booking-admin.css.map */